
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px solid gray;
  box-sizing: border-box;
  margin-bottom: 4px;
  background-color: aliceblue;
}
